%header
  %a(href="/")
    %img(src="/images/logo.png")
  %h1
    Quick doesn't have to mean second-rate
%nav
  %ul
    %li
      %a(href="/blog") Blog
    %li
      %a(href="/speaking") Speaking
    %li
      %a(href="/about") About
    %li
      %a(href="/contact") Contact
%footer
  %p.contact
    %strong densitypop
  %p 4211 W. 215th St.
  %p Fairview Park, OH 44126
  %p 440.249.0581
  %h4 Inspiration
  %ul
    %li
      %a(href="http://www.37signals.com") 37signals
    %li
      %a(href="http://www.leandog.com") LeanDog
    %li
      %a(href="http://www.bradcolbow.com") The Brads
  %p
    %small
      &copy;2010
      %strong densitypop
  %p built on Ruby 1.9.2, using the Nesta CMS for developers
  %p hosted on Heroku
  %p a product of Cleveland, OH
