%header
  %a(href="/")
    %img(src="/images/logo.png" class="logo")
    %img(src="/images/logo-iphone.png" class="logo-iphone")
  %h1
    Quick doesn't have to mean second-rate
%nav
  %ul
    %li.blog
      %a(href="/blog") Blog
    %li.speaking
      %a(href="/speaking") Speaking
    %li.about
      %a(href="/about") About
    %li.contact
      %a(href="/contact") Contact
%footer
  %aside
    %h4 Inspiration
    %ul
      %li
        %a(href="http://www.37signals.com")
          %img(src="/images/37signals-logo.png" alt="Inspired by 37signals")
      %li
        %a(href="http://www.leandog.com")
          %img(src="/images/leandog-logo.png" alt="Inspired by LeanDog")
      %li
        %a(href="http://www.bradcolbow.com")
          %img(src="/images/thebrads-logo.png" alt="Inspired by The Brads")
      %li
        %a(href="http://www.designinginteractive.com")
          %img(src="/images/di-logo.png" alt="Inspired by Designing Interactive")
  %p.contact
    %strong densitypop
  %p 4211 W. 215th St.
  %p Fairview Park, OH 44126
  %p 440.249.0581
  %p
    %small
      &copy;2010
      %strong densitypop
  %p
    = surround "built on ", "," do
      %a(href="http://www.ruby-lang.org" title="Ruby Rocks!") Ruby 1.9.2
    = precede "using Nesta a " do
      %a(href="http://effectif.com/nesta" title="Nesta is awesome too!") Ruby CMS
  %p
    = precede "hosted on " do
      %a(href="http://www.heroku.com" title="Heroku is teh best Ruby host") Heroku
  %p a product of Cleveland, OH
