!!! 5
%html
  %head
    %title densitypop.com - Cleveland-based Web Consulting, iPad R&amp;D, Online Store Design
    %link(rel="stylesheet" href="http://webfonts.justanotherfoundry.com/Facit/")
    %link(rel="stylesheet" href="http://webfonts.justanotherfoundry.com/Lapture/")
    %link(rel="stylesheet" href="/css/screen.css")
  %body
    = yield
