!!! 5
%html
  %head
    %title densitypop.com - Cleveland-based Web Consulting, iPad R&amp;D, Online Store Design
    %meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
    %link(rel="stylesheet" href="http://webfonts.justanotherfoundry.com/Facit/")
    %link(rel="stylesheet" href="http://webfonts.justanotherfoundry.com/Lapture/")
    %link(rel="stylesheet" href="/css/screen.css")
  %body
    = yield
