body {
  background: white url(/images/body-gradient.png) repeat-x;
}

header {
  margin-left: 4.1666667%;
  margin-top: 20px;
  h1 {
    font-style: italic;
  }
}

h1 {
  font-family: LaptureWeb-Display;
  font-size: 36px;
  color: #545454;
}
